<div class="border border-white rounded-sm grid grid-cols-2">

    @for(tool of tools; track tool.name) {
    <button class="w-10 h-10 rounded-sm border border-white p-2 m-2 tool"
            [title]="tool.name"
            [ngClass]="'icon-tool-'+tool.name"
            [class.selected]="isToolSelected(tool)"
            (click)="onToolSelect(tool)">
        {{tool.name}}
    </button>
    }

</div>
<div class="border border-white text-white rounded-sm">
    <div>
        <div class="flex justify-between">
            <label for="lineWidth">Line Thickness</label>
            <span class="ml-2 w-10">{{lineWidthRangeInput.value }}px</span>

        </div>
        <input name="lineWidth"
               type="range"
               min="1"
               max="100"
               step="1"
               value="1"
               #lineWidthRangeInput
               (input)="setDataAttribute('lineWidth', lineWidthRangeInput.value)">
    </div>
    <!-- <div>
        <div class="flex justify-between">
            <label for="opacity">opacity</label>
            <span class="ml-2 w-10">{{getPercentOpacity(opacityRangeInput.value)}}%</span>

        </div>
        <input name="opacity"
               type="range"
               min="0"
               max="1"
               step="0.01"
               value="1"
               #opacityRangeInput
               (input)="setDataAttribute('currentColorOpacity', opacityRangeInput.value)">
    </div> -->
    <div>
        <div class="flex justify-between">
            <label for="spread">spread radius</label>
            <span class="ml-2 w-10">{{spreadRangeInput.value}}</span>

        </div>
        <input name="spread"
               type="range"
               min="0"
               max="60"
               step="0.1"
               value="1"
               #spreadRangeInput
               (input)="setDataAttribute('spreadRadius',spreadRangeInput.value)">
    </div>
    <div>
        <div class="flex justify-between">
            <label for="spread density">spread density</label>
            <span class="ml-2 w-10">{{spreadDensityRangeInput.value}}</span>

        </div>
        <input name="spread density"
               type="range"
               min="1"
               max="20"
               step="1"
               value="1"
               #spreadDensityRangeInput
               (input)="setDataAttribute('spreadDensity', spreadDensityRangeInput.value)">
    </div>


    <color-palette></color-palette>
</div>
<!-- selected tool option box -->
