<div class="border border-white rounded-sm grid grid-cols-2">

    @for(tool of tools; track tool.name) {
    <button class="w-10 h-10 rounded-sm border border-white p-2 m-2 tool"
            [title]="tool.name"
            [ngClass]="'icon-tool-'+tool.name"
            [class.selected]="isToolSelected(tool)"
            (click)="onToolSelect(tool)">
        {{tool.name}}
    </button>
    }

</div>
<div class="border border-white rounded-sm">
    <div>
        <div class="flex justify-between text-white">
            <label for="lineWidth">Line Thickness</label>
            <span class="ml-2 w-10">{{lineWidthRangeInput.value}}px</span>

        </div>
        <input name="lineWidth"
               type="range"
               min="1"
               max="50"
               step="1"
               value="1"
               #lineWidthRangeInput
               (input)="setLineWidth(lineWidthRangeInput.value)">
    </div>
    <div>

    </div>

    <color-palette></color-palette>
</div>
<!-- selected tool option box -->
