<div class="flex">

    <dropdown-menu title="project">
        <button class="p-2 bg-neutral-600 hover:bg-neutral-500 text-white"
                (click)="openSaveFileModal()">save</button>
        <button class="p-2 bg-neutral-600 hover:bg-neutral-500 text-white"
                (click)="openProjectModal()">settings</button>
    </dropdown-menu>

    <dropdown-menu title="edit">
        <button class="p-2 bg-neutral-600 hover:bg-neutral-500 text-white"
                (click)="undo()">undo</button>
        <button class="p-2 bg-neutral-600 hover:bg-neutral-500 text-white"
                (click)="redo()">redo</button>
    </dropdown-menu>

    <dropdown-menu title="generate">
        <button class="p-2 bg-neutral-600 hover:bg-neutral-500 text-white"
                (click)="openNoiseModal()">noise</button>
    </dropdown-menu>

    <button class="text-white p-2 pointer hover:bg-neutral-500 min-w-20"
            (click)="openAboutModal()">about</button>
</div>

<ng-template #saveContent>
    <div>
        <!-- add save options like format, quality -->
        <button class="p-1 border border-white text-white"
                (click)="saveImage()">save image as png</button>
    </div>

</ng-template>

<ng-template #svgNoiseContent>
    <svg-screen class="h-full"
                (confirm)="closeModal()"></svg-screen>
</ng-template>


<ng-template #projectSettingsContent>
    <!-- add project settings component here -->
    <project-settings></project-settings>
</ng-template>

<ng-template #aboutContent>
    <about></about>
</ng-template>
