<div class="flex">

    <dropdown-menu title="project">
        <button class="p-2 bg-neutral-600 hover:bg-neutral-500 text-white"
                (click)="openSaveFileModal()">save</button>
        <button class="p-2 bg-neutral-600 hover:bg-neutral-500 text-white"
                (click)="openProjectModal()">settings</button>
    </dropdown-menu>

    <dropdown-menu title="edit">
        <button class="p-2 bg-neutral-600 hover:bg-neutral-500 text-white">undo</button>
        <button class="p-2 bg-neutral-600 hover:bg-neutral-500 text-white">redo</button>
    </dropdown-menu>

    <dropdown-menu title="generate">
        <button class="p-2 bg-neutral-600 hover:bg-neutral-500 text-white"
                (click)="openNoiseModal()">noise</button>
    </dropdown-menu>

    <!-- @for(button of buttons; track button) {
    <dropdown [title]="button.name"
              [content]="button.content"></dropdown>
    } -->


    <button class="text-white p-2 pointer hover:bg-neutral-400"
            (click)="openAboutModal()">about</button>
</div>

<ng-template #saveContent>
    <div>
        <!-- add save options like format, quality -->
        <button class="p-1 border border-white text-white"
                (click)="saveImage()">save image as png</button>
    </div>

</ng-template>

<ng-template #svgNoiseContent>
    <svg-screen class="h-full"
                (confirm)="closeModal()"></svg-screen>
</ng-template>


<ng-template #projectSettingsContent>
    <!-- add project settings component here -->
    <project-settings></project-settings>
</ng-template>

<ng-template #aboutContent>
    <!-- move to about component -->
    <div class="text-white">
        <p>Experimental Canvas Graphics Editor</p>
        <p>Name inspired by <a href="https://www.youtube.com/watch?v=EBUFtoC2oj4"
               target="_blank"
               rel="noopener noreferrer">The Rolling
                Stones song</a></p>
        <p>Created with 💚 by <a href="https://mkcodelab.github.io/portfolio/home"
               target="_blank"
               rel="noopener noreferrer">MKCodelab</a></p>
        <a href="https://github.com/mkcodelab/PaintItBlack"
           target="_blank"
           rel="noopener noreferrer">Check out source code here << </a>
    </div>
</ng-template>
