<div class="text-white">
    <p>Experimental Canvas Graphics Editor</p>
    <p>Name inspired by <a href="https://www.youtube.com/watch?v=EBUFtoC2oj4"
           target="_blank"
           rel="noopener noreferrer">The Rolling
            Stones song</a></p>
    <p>Created with 💚 by <a href="https://mkcodelab.github.io/portfolio/home"
           target="_blank"
           rel="noopener noreferrer">MKCodelab</a></p>
    <a href="https://github.com/mkcodelab/PaintItBlack"
       target="_blank"
       rel="noopener noreferrer">Check out source code here << </a>
</div>
