.input-hue {
  background-image: linear-gradient(
    to right,
    hsl(0, 100%, 50%) 0%,
    hsl(60, 100%, 50%) 16.67%,
    hsl(120, 100%, 50%) 33.33%,
    hsl(180, 100%, 50%) 50%,
    hsl(240, 100%, 50%) 66.67%,
    hsl(320, 100%, 50%) 83.33%,
    hsl(360, 100%, 50%) 100%
  );
}

.input-alpha {
  background-color: transparent;
}

.color-picker-canvas {
  background: repeating-conic-gradient(#808080 0% 25%, transparent 0% 50%) 50% /
    20px 20px;
}
