<div class="p-1">
    <canvas class="color-picker-canvas rounded-full"
            #hueCanvas
            width="200"
            height="50"></canvas>

    <div class="flex flex-col">
        <input class="input-range input-hue mt-2 mb-2"
               title="hue"
               type="range"
               value="0"
               min="0"
               max="360"
               #hueValueRange
               (input)="setColorParameter('hue',hueValueRange.value)">

        <input type="range"
               class="input-range mb-2"
               title="saturation"
               [value]="color.saturation"
               min="0"
               max="100"
               [style.background-image]="getInputBackgroundGradient('saturation')"
               #saturationValueRange
               (input)="setColorParameter('saturation', saturationValueRange.value)">

        <input type="range"
               class="input-range mb-2"
               title="light"
               [value]="color.light"
               min="0"
               max="100"
               [style.background-image]="getInputBackgroundGradient('light')"
               #lightValueRange
               (input)="setColorParameter('light', lightValueRange.value)">

        <input class="input-range input-alpha mb-2"
               title="alpha"
               type="range"
               [value]="color.alpha"
               min="0"
               max="1"
               step="0.01"
               [style.background-image]="getInputBackgroundGradient('alpha')"
               #alphaValueRange
               (input)="setColorParameter('alpha', alphaValueRange.value)">

    </div>
    <button class="mb-2 p-1 bg-neutral-500 rounded-full w-full"
            (click)="addColorToPalette()">Add to palette</button>

</div>
