<div class="w-full h-full grid content-center p-2">

    <!-- need to set max-width and max-height with overflow -->
    <!-- <div style="max-width: 60vw; max-height: 60vh;"> -->

    <!-- layersWrapper is used for event capture -->
    <div class="relative canvas-box-bg"
         [style.width]="canvasSize.width+'px'"
         [style.height]="canvasSize.height+'px'"
         #layersWrapper>


        <!-- we need to reverse the loop for proper z-indexes -->
        @for(layer of layers.slice().reverse(); track layer){

        <layer-canvas class="absolute top-0 left-0"
                      [hidden]="!layer.visible"
                      #layerCanvas
                      [layer]="layer"
                      [width]="canvasSize.width"
                      [height]="canvasSize.height"></layer-canvas>
        }

        <animated-canvas class="absolute top-0 left-0"
                         [width]="canvasSize.width"
                         [height]="canvasSize.height"></animated-canvas>


    </div>
    <div class="flex justify-end absolute bottom-0 right-1/2">
        <span>&nbsp;</span>
        <span class="text-white">{{mouseCoords$ | async}}</span>
    </div>


    <!-- </div> -->

</div>
