<div class="w-full h-full bg-neutral-600 p-2">

    <!-- add events here, to this wrapper div instead of event canvas -->
    <!-- successful event capture for mouse position -->
    <div class="relative"
         [style.width]="'600px'"
         [style.height]="'600px'"
         #layersWrapper>


        <!-- operate on z-index of those canvases, based on layers.service _layers index-->
        <!-- @for(layer of layers; track layer) { <canvas></canvas> // <layerCanvas [layerConfig]="layer.config"></layerCanvas>} ??? -->
        <!-- layer-canvas needs to create it's canvas by using layer canvas -->
        @for(layer of layers; track layer){

        <layer-canvas class="absolute top-0 left-0"
                      #layerCanvas
                      [layer]="layer"
                      [width]="600"
                      [height]="600"></layer-canvas>
        }


    </div>
    <div class="flex justify-end">
        <span class="text-white">{{coordsString}}</span>
    </div>
</div>
