<div class="h-full flex flex-col app-window">

    <!-- topbar -->
    <div class="topbar flex justify-between bg-neutral-600 shadow-xl">
        <topbar-buttons></topbar-buttons>
        <fullscreen-button></fullscreen-button>
    </div>

    <div class="flex justify-between"
         style="height: 100%;">
        <sidebar>
            <toolbox></toolbox>
        </sidebar>

        <canvas-box></canvas-box>

        <sidebar>
            <layers></layers>
        </sidebar>
    </div>
</div>

<logger-screen></logger-screen>

@if(modalOpen) {
<modal-container></modal-container>
}
