<div class="flex justify-center">
    <div class="flex flex-col">
        <label for="baseFreq">Base Frequency</label>
        <input type="range"
               name="baseFreq"
               #baseFreq
               min="0.01"
               max="1"
               step="0.01">

        <label for="numOctaves">number of octaves</label>
        <input type="range"
               name="numOctaves"
               #numOctaves
               min="1"
               max="8"
               value="1">

        <label for="seed">seed</label>
        <input name="seed"
               #seed
               type="range"
               min="1"
               max="10">

        <select #turbulenceType>
            <option value="turbulence">turbulence</option>
            <option value="fractalNoise">fractalNoise</option>
        </select>
    </div>

    <div class="overflow-hidden"
         style="width: 200px; height: 200px;">
        <svg xmlns="http://www.w3.org/2000/svg"
             #noise
             attr.width="{{width}}px"
             attr.height="{{height}}px">
            <filter id='noise'
                    x='0%'
                    y='0%'
                    width='100%'
                    height='100%'>
                <!-- support x y coordinates baseFrequency="0.01 0.01" -->
                <feTurbulence [attr.baseFrequency]="+baseFreq.value"
                              [attr.type]="turbulenceType.value"
                              [attr.numOctaves]="+numOctaves.value"
                              [attr.seed]="+seed.value"
                              result="NOISE" />
            </filter>


            <rect x="0"
                  y="0"
                  width="100%"
                  height="100%"
                  filter="url(#noise)"></rect>

        </svg>
    </div>
</div>

<button (click)="generateNoise()">Generate</button>
