<div class="p-2">
    <ul>
        @for(item of listItems; track item) {

        <li class="flex justify-between border border-white m-1 cursor-pointer"
            [ngClass]="{'bg-green-400' : isActive(item)}"
            (click)="activate(item)"
            (contextmenu)="displayContextMenu(item); false">

            <p class="p-1">{{item.name}}</p>

            <div>
                <button class="border border-white m-1 moveButton"
                        [disabled]="$first"
                        (click)="moveUp(item)">/\</button>
                <button class="border border-white m-1 moveButton"
                        [disabled]="$last"
                        (click)="moveDown(item)">\/</button>

                <button (click)="toggleLayer(item)">{{ item.visible ? '👓' : '🕶' }}</button>
            </div>

            @if(isContextMenuOpen(item)){
            <div class="context-menu absolute mt-2 ml-1 bg-neutral-500 flex flex-col shadow-lg"
                 (clickOutside)="closeContextMenu()">

                <button class="p-1 border-b hover:bg-neutral-400 context-menu-button"
                        [disabled]="$last"
                        (click)="mergeDown(item)">merge down</button>
                <button class="p-1 border-b hover:bg-neutral-400"
                        (click)="copyLayer(item)">copy</button>

                <button class="p-1 border-b hover:bg-neutral-400"
                        (click)="removeLayer(item)">delete ✖</button>

            </div>
            }
        </li>
        }
    </ul>
</div>
