<div class="min-w-64 max-w-64">
    <ul>
        @for(item of listItems; track item) {

        <li class="flex justify-between m-1 cursor-pointer rounded-full pl-2 pr-2"
            style="max-width: 100%;"
            [ngClass]="isActive(item) ? 'bg-green-400' : 'bg-neutral-500'"
            (click)="activate(item)"
            (contextmenu)="displayContextMenu(item); false">

            <p class="p-1 truncate">{{item.name}}</p>

            <div class="flex">
                <button class="m-1 moveButton"
                        [disabled]="$first"
                        (click)="moveUp(item)"><i class="icon-chevron-up"></i></button>
                <button class="m-1 moveButton"
                        [disabled]="$last"
                        (click)="moveDown(item)"><i class="icon-chevron-down"></i></button>

                <button class="m-1"
                        (click)="toggleLayer(item)"
                        [ngClass]="item.visible ? 'icon-eye' : 'icon-eye-off'"></button>
            </div>

            @if(isContextMenuOpen(item)){
            <div class="context-menu absolute mt-2 ml-1 bg-neutral-500 flex flex-col shadow-lg"
                 (clickOutside)="closeContextMenu()">

                <button class="p-1 border-b hover:bg-neutral-400 context-menu-button"
                        [disabled]="$last"
                        (click)="mergeDown(item)">merge down</button>
                <button class="p-1 border-b hover:bg-neutral-400"
                        (click)="copyLayer(item)">copy</button>

                <button class="p-1 border-b hover:bg-neutral-400 flex justify-between"
                        (click)="removeLayer(item)">delete <i class="icon-trash"></i></button>

            </div>
            }
        </li>
        }
    </ul>
</div>
