<div class="border border-white flex flex-col text-white">
    <input class="m-1 bg-transparent border border-white"
           type="text"
           placeholder="layer name"
           #layerNameInput>
    <button class="p-1 bg-neutral-400 border border-white m-1"
            (click)="addLayer(layerNameInput.value)">
        new layer
    </button>

    <movable-list [listItems]="layers"
                  [activeLayer]="activeLayer"
                  (moveDownEvent)="onMoveDownEvent($event)"
                  (moveUpEvent)="onMoveUpEvent($event)"
                  (activateLayer)="onActivateLayer($event)"
                  (removeLayerEvent)="onRemoveLayer($event)"
                  (toggleLayerEvent)="onToggleLayer($event)"></movable-list>
</div>
