<div (clickOutside)="clickedOutside()">
    <button class=" text-white p-1 m-1 pointer hover:bg-neutral-400"
            (click)="toggleMenu()">{{title}}</button>
    @if(isMenuOpen) {
    <div class="menu-items absolute top-10 left-0 bg-neutral-600 flex flex-col shadow-lg"
         style="min-width: 200px;">
        @for(element of content; track element) {
        <button class="p-1 hover:bg-neutral-500 text-white"
                (click)="onMenuItemClick(element.function)">{{element.name}}</button>
        }
    </div>
    }
</div>
