<p>Warning! Resize clears all layers</p>
<div class="flex flex-col">

    <input-number [value]="projectDataSvc.canvasSize.width"
                  #settingsWidthInput
                  label="width"></input-number>

    <input-number [value]="projectDataSvc.canvasSize.height"
                  #settingsHeightInput
                  label="height"></input-number>

    <button class="bg-neutral-500 rounded-full"
            (click)="resize(+settingsWidthInput.value, +settingsHeightInput.value)">resize</button>
</div>
