@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #333;
  user-select: none;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animation-appear {
  animation: appear 0.3s ease;
}

.app-window {
  width: 100vw;
  height: 100vh;
}

// className : filename
$icons: (
  "download": "download",
  "maximize": "maximize",
  "minimize": "minimize",
  "eye": "eye",
  "eye-off": "eye-off",
  "layers": "layers",
  "chevron-down": "chevron-down",
  "chevron-up": "chevron-up",
  "close": "x",
  "settings": "settings",

  "trash": "trash-2",
);

@each $className, $filename in $icons {
  .icon-#{$className} {
    display: block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-image: url("./assets/#{$filename}.svg");
  }

  .center-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.input-range {
  appearance: none;
  cursor: pointer;
  background-color: #666;
  border-radius: 9999px;
  width: 100%;
  height: 10px;

  &::-webkit-slider-thumb {
    appearance: none;
    background: #ccc;
    border: 1px solid #666;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: -2px;
    &:hover {
      background: #fff;
      box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
    }
  }

  &::-moz-range-thumb {
    appearance: none;
    background: #ccc;
    border: 1px solid #666;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: -2px;
  }
}
